@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* GENERAL */

:root{
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  background: var(--bgColor);
  }
  a {
  color: #4154f1;
  text-decoration: none;
  cursor: pointer;
  }
  a:hover {
  color: #717ff5;
  text-decoration: none;
  } 

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Nunito' , sans-serif;
  }

  